/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
resources/views/auth/login-old.blade.php
resources/views/auth/register-old.blade.php
resources/views/dashboard/index-old.blade.php
resources/views/dashboard/orders-old.blade.php
resources/views/dashboard/product/create-old.blade.php
resources/views/dashboard/product/index-old.blade.php
resources/views/layouts/app-old.blade.php
resources/views/layouts/guest-old.blade.php
